.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.flip-card {
    display: inline-block;
    width: 19%;
    height: 250px;
    /* border: 3px solid rgb(0, 0, 0); */
    margin: 20px 0;
    perspective: 600px;
}

img {
    width: 80%;
    height: 100%;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
    display: flex;
    justify-content: center;
}

.flip-card-inner.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 260px;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-size: 60px;
    backface-visibility: hidden;    
}

.flip-card-front {
    /* background: crimson; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.flip-card-back {
    width: 80%;
    height: 100%;
    background: slateblue;
    transform: rotateY(180deg);
    font-size: 60px;
    border-radius: 3%;
    border: solid 1px black;;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}